.container {
    --size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: var(--size);
    user-select: none;
    fill: currentColor;
}

.moon {
    position: absolute;
    animation: keyframes-fill .5s;
}

.sun {
    position: absolute;
    display: none;
    animation: keyframes-fill .5s;
}

.input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Logic for showing/hiding based on checked state */
.input:checked~.moon {
    display: none;
}

.input:checked~.sun {
    display: block;
}

@keyframes keyframes-fill {
    0% {
        transform: rotate(-360deg) scale(0);
        opacity: 0;
    }

    75% {
        transform: rotate(25deg);
    }
}